.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.Header {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 20px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.Footer {
  text-align: center;
}

.App-footer {
  padding: 50px;
}